// red
$red-50: #fee6ef;
$red-100: #fbb2cc;
$red-200: #f98cb4;
$red-300: #f65892;
$red-400: #f5377d;
$red-500: #f2055c;
$red-600: #dc0554;
$red-700: #ac0441;
$red-800: #850333;
$red-900: #660227;

// purple
$purple-50: #ebe6ec;
$purple-100: #c0b0c4;
$purple-200: #a28aa7;
$purple-300: #77547f;
$purple-400: #5d3366;
$purple-500: #340040;
$purple-600: #2f003a;
$purple-700: #25002d;
$purple-800: #1d0023;
$purple-900: #16001b;

// blue
$blue-50: #e6fefe;
$blue-100: #b2fbfb;
$blue-200: #8df9f9;
$blue-300: #59f6f6;
$blue-400: #39f5f5;
$blue-500: #07f2f2;
$blue-600: #06dcdc;
$blue-700: #05acac;
$blue-800: #048585;
$blue-900: #036666;

// green
$green-50: #e6fef0;
$green-100: #b2fbd1;
$green-200: #8cf9bb;
$green-300: #58f69d;
$green-400: #37f589;
$green-500: #05f26c;
$green-600: #05dc62;
$green-700: #04ac4d;
$green-800: #03853b;
$green-900: #02662d;

// yellow
$yellow-50: #fdfee6;
$yellow-100: #f8fbb2;
$yellow-200: #f5f98c;
$yellow-300: #f1f658;
$yellow-400: #eef537;
$yellow-500: #eaf205;
$yellow-600: #d5dc05;
$yellow-700: #a6ac04;
$yellow-800: #818503;
$yellow-900: #626602;

// grey
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

// shades
$black: #000000;
$white: #ffffff;
$transparent: #ffffff00;
